@{
    ViewData["Title"] = "Поиск автомобиля";
}

<div align="center">
    <form asp-controller="Carsharing" asp-action="CarSearch" method="post">
        <div align="center" style="width: 600px">
            <h1>Поиск автомобиля</h1>
            <br />
            <div class="mb-3">
                <input type="text" class="form-control" name="carNumber" value="Гос. номер">
            </div>
            <div>
                <select class="form-select" name="carBrand" aria-label="carBrand">
                    <option selected>Выберите марку</option>
                    @foreach (var carBrand in @ViewBag.Brands)
                    {
                        <option name="carBrandId" value="@carBrand.Id">@carBrand.Name</option>
                    }
                </select>
                <br />
                <select class="form-select" name="carModel" aria-label="carModel">
                    <option selected>Выберите модель</option>
                    @foreach (var carModel in @ViewBag.Models)
                    {
                        <option name="carModelId" value="@carModel.Id">@carModel.Name</option>
                    }
                </select>
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </form>

    <br />

    @{
        int i = 1;
    }
    @if (((IEnumerable<dynamic>)ViewBag.Car).Count() > 0)
    {
        <form asp-controller="Carsharing" asp-action="CarSearch" method="post">
            <div>
                <div style="width: 80px;">
                    @foreach (var condition in @ViewBag.Conditions)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="@(i++)">
                        <label class="form-check-label" for="flexRadioDefault1">@condition.Name</label>
                        </div>
                     }
                </div>
                @foreach (var car in @ViewBag.Car)
                {
                    <div class="card" style="width: 180px;">
                        <div class="card-body">
                            <div class="card-header"><h5 class="card-title">@car.CarNumber</h5></div>
                            <p class="card-text">
                                Марка: @car.CarBrandId
                                Модель: @car.CarModelId
                                Пробег: @car.CarMilage
                                Владелец: @car.CarOwnerId
                                Статус: @car.CarConditionId
                            </p>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                }
                <br />
                <br />
            </div>
        </form>
    }
    else
    {
            <div class="wrapper">
            @foreach (var car in @ViewBag.Cars)
            {
                <div class="card" style="width: 180px;">
                    <div class="card-body">
                        <div class="card-header"><h5 class="card-title">@(i++)) @car.CarNumber</h5></div>
                        <p class="card-text">
                            Марка: @car.CarBrandId
                            Модель: @car.CarModelId
                            Пробег: @car.CarMilage
                            Владелец: @car.CarOwnerId
                        </p>
                    </div>
                </div>
            }
            <br />
            <br />
        </div>
    }
</div>
